body{
    /* background: #222 */
    background-image: url(images/bg.webp);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #000000, #655a97);;
    color: aliceblue;
    margin: 50px auto 0px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    border: 0;
    outline: 0;
    height: 60px;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 20px;
    margin-right: 16px;
    flex: 1;
}
.search button{
    border: 0;
    outline: 0;
    height: 35px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;
}
.search button img{
    width: 22px;
}
.weather-icon{
    width: 180px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 700;
    margin-top: -15px;
}
.weather h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: -50px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 10px;
}
/* .details .col .humidity p1{
    margin-top: -25px;
} */

.col1{
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 175px;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 30px;
    font-weight: 500;   
}
/* .weather,.details{
    display: none;
} */
/* .error{
    display: none;
} */
/* can add animation by gif in bg accordingly */